*{
    font-family: 'Inria Sans', sans-serif;
}

.sidebox{
    float: right;
     width: 50%;
        }

.mainbox {
    float: left;
    width: 70%;
        }

@media screen and (max-width: 800px) {

    .sidebox, .mainbox {
        width: 100%;
                }
            }


.nav-bar{
    background-image: url('project-images/background.jpg');
    width:100%;
    height:100%
}

.page-container{
    width: 1024px;
    margin: 0 auto;
    padding: 0;
}

.flexbox {
    display: flex;
}

.flexbox-large {
    flex: 3;
}

.flexbox-small{
    flex: 1;
}

.tiny-logo{
    width: 1.5em;
    height: 1.5em;
}

.player-image{
    width: 15em;
    height: 20em;
}

h1 {
    color: red;
}

body {
    background-color: white;
}

p {
    padding: 10px;
    margin: 20px 40px;
}

img {
    margin: 20px 0;
    vertical-align: middle;
}
ul {
    margin: 0 0 50px 0;
}


li {
    /*line-height: 21px;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-style: normal;
    font-weight: 200;
    width: 50%;*/
}

table {
    border-collapse: collapse;
    margin: 0 0 50px 10px;
    
}

tr {
    border: solid;
    border-width: 1px 0px;
}

td{
    border: solid;
    border-width: 1px 0;
    text-align: center;
}

img {
    width: 50%;
    height: 50%;
}
.logo {
    width: 10%;
    height: 10%;
}

footer {
    background-color: red;
    text-align: center;
    color: white;
}
